<% tweets.each do |tweet|%>
  <div class="card m-bt-1">
    <div class="card-body">
      <h4 class="card-title"><%= tweet.user.name %></h4>
      <h5 class="card-subtitle"><%= tweet.user.username %></h5>
      <p class="card-text"><%= tweet.tweet %></p>

      <%= render 'actions', tweet: tweet %>
    </div>
  </div>
<% end %>
