<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>

    <% users.each do |user| %>
      <div class="panel-block">
        <article class="media">
          <div class="media-left">
            <figure class="image is-32x32">
              <%= gravatar_image_tag(user.email, size: 64, alt: user.name) %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <small><%= user.username %></small>
                
                <% if current_user.followers.where(follower_id: user.id).empty? %>
                  <%= link_to 'Seguir', relationships_create_path(user.id) %>
                <% else %>
                  <%= link_to 'Seguindo', relationships_destroy_path(user.id) %>
                <% end %>
              </p>
            </div>
          </div>
        </article>
      </div>
    <% end %>
  </nav>
</div>