<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'trends' %>

      <%= render 'feed', tweets: @tweets, tweet: @tweet %>

      <%= render 'who_to_follow' %>
    </div>
  </div>
</section>
