<section class="section">
  <div class="container">
    <div class="columns">
    <% if user_signed_in? %>
      <%= render 'profile' %>
    <% else %>
      <%#= render 'trends' %>
    <% end %>
      <%= render 'feed', tweets: @tweets, tweet: @tweet %>

    <% if user_signed_in? %>
      <%= render 'who_to_follow', users: @users, relationship: @relationship %>
    <% end %>
    </div>
  </div>
</section>
