/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require paper.min.css
 */

 @import "font-awesome";

.m-top-1 {
  margin-top: 2.5rem;
}

.m-top-2 {
  margin-top: 3.5rem;
}

.m-bt-1 {
  margin-bottom: 1.5rem;
}

.m-bt-0 {
  margin-bottom: 0 !important;
}

.m-0 {
  margin: 0;
}

.p-bt-0 {
  padding-bottom: 0 !important;
}

.fixed-alert {
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
}

.not-border-bottom {
  border-bottom: none;
}

.not-border-bottom:hover {
  border-bottom: none;
}

.cursor-pointer {
  cursor: pointer !important;
}
